@import url('https://fonts.googleapis.com/css?family=Varela&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    background-color: #F0F8FF;
    padding: 20px;
}
.login_box
{
    background: #F5FFFA;
    margin-bottom: 10px;
    width: 100%;
}
#login_title
{
    font-size: 24px;
    text-align: center;
    padding-top: 16px;
    padding-bottom: 20px;
    font-family: Varela, Helvetica, sans-serif;
}
.username
{
    text-align: center;
    font-size: 15px;
    margin-right: 68px;
}
#username_box
{
    border: gray;
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    height: 30px;
    line-height: 1.6;
    width: 17%;
    margin-bottom: 4px;
    padding-left: 6px;
    padding-right: 10px;
    cursor: auto;
}
.password
{
    text-align: center;
    font-size: 15px;
    margin-right: 68px;
}
#password_box
{
    border: gray;
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    height: 30px;
    line-height: 1.6;
    width: 17%;
    margin-top: 4px;
    padding-left: 6px;
    padding-right: 10px;
    cursor: auto; 
}
#username_label
{
    padding-right: 5px;
}
#password_label
{
    padding-right: 8px;
}
.login_options
{
    text-align: center;
    margin-top: 13px;
    margin-bottom: 7px;
    padding-top: 1px;
    border-bottom: 1px solid black;
}
#checkbox
{
    height: 25px;
    width: 25px;
}
#remember_me
{
    padding-left: 4px;
}
#login_button:hover
{
    background: #4169E1;
}
#login_button
{
    border: transparent;
    border-style: solid;
    border-radius: 4px;
    background: #1E90FF;
    color: white;
    width: 17%;
    height: 30px;
    margin-top: 14px;
    margin-left: 3px;
    margin-bottom: 34px;
    cursor: pointer;
}
#newacc_button
{
    border: transparent;
    border-style: solid;
    border-radius: 4px;
    background: #1E90FF;
    color: white;
    width: 17%;
    height: 30px;
    margin-top: 14px;
    margin-left: 3px;
    margin-bottom: 34px;
    cursor: pointer;
}
.forgot_buttons
{
    display: flex;
    flex-direction: space-evenly;
    justify-content: center;
    margin-top: 30px;
    padding-bottom: 24px;
}
#forgot_username
{
    display: flex;
    border: transparent;
    border-style: solid;
    border-radius: 4px;
    background: #FFA500;
    color: white;
    width: 90%;
    margin-right: 15px;
}
#forgot_password
{
    display: flex;
    border: transparent;
    border-style: solid;
    border-radius: 4px;
    background: #FFA500;
    color: white;
    width: 90%;
    margin-left: 15px;
}
.remember
{
    position: relative;
    text-align: center;
    color: #A9A9A9;
    bottom: -10px;
    background: #F5FFFA;
    padding-left: 10px;
    padding-right: 10px;
}